@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Outfit:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

footer {
  background: black;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 45px;
}
@media (max-width: 480px) and (min-width: 320px) {
  footer {
    width: 450px;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  footer {
    width: 100%;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .footer {
    display: flex;
    align-items: flex-start;
    padding-top: 30px;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .footer {
    display: flex;
    padding-top: 50px;
    align-items: start;
    justify-content: space-between;
  }
}
.footer_img-logo img {
  width: 110px;
  margin-bottom: 35px;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .footer_img-logo img {
    position: relative;
    left: 50px;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .footer_img-logo img {
    position: relative;
    left: 170px;
  }
}
.footer .footer_text {
  color: white;
  margin-bottom: 35px;
  margin-right: 30px;
  font-size: 16px;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .footer .footer_text {
    position: relative;
    width: 40%;
    left: 100px;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .footer .footer_text {
    color: white;
    width: 25%;
    top: 0;
    font-size: 12px;
    left: 200px;
  }
}
.footer .icons_rrss {
  display: flex;
}
@media (max-width: 480px) and (min-width: 320px) {
  .footer .icons_rrss {
    gap: 20px;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .footer .icons_rrss {
    position: relative;
    gap: 20px;
    left: 150px;
    width: 15%;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .footer .icons_rrss {
    position: relative;
    width: 50%;
    left: 400px;
  }
  .footer .icons_rrss img {
    width: 50%;
  }
}

.container_first {
  display: flex;
}
.container_first-image {
  position: relative;
}
.container_first-image h1 {
  color: black;
  font-size: 60px;
  text-align: left;
  line-height: 60px;
  font-weight: 800;
  margin-bottom: 30px;
  width: 80%;
}
@media (max-width: 480px) and (min-width: 320px) {
  .container_first-image h1 {
    padding-left: 15px;
    z-index: 1;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .container_first-image h1 {
    padding-left: 400px;
    margin-top: 150px;
    z-index: 1;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .container_first-image h1 {
    z-index: 1;
    margin-left: 190px;
    color: white;
    font-size: 95px;
    padding-top: 160px;
    line-height: 80px;
  }
  .container_first-image h1 ::before {
    content: "";
    background: black;
    width: 450px;
    height: 750px;
    z-index: -1;
    position: absolute;
    left: 0;
    top: -50px;
  }
}
.container_first-image span {
  font-family: "Big Shoulders", sans-serif;
}
.container_first-image .modern::after {
  content: "\a";
  white-space: pre;
}
.container_first-image .no-break {
  white-space: nowrap;
}
@media (max-width: 480px) and (min-width: 320px) {
  .container_first .mobile {
    width: 440px;
    margin-bottom: 20px;
    position: relative;
    z-index: -1;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .container_first .mobile {
    display: none;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .container_first .mobile {
    display: none;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .container_first .tablet {
    width: 437px;
    height: 700px;
    position: absolute;
    z-index: -1;
  }
}
@media (max-width: 480px) and (min-width: 320px) {
  .container_first .tablet {
    display: none;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .container_first .tablet {
    width: 437px;
    height: 700px;
    position: absolute;
    left: 450px;
    z-index: -1;
  }
}

p {
  width: 90%;
  font-family: "Outfit", sans-serif;
  padding-left: 15px;
  font-size: 18px;
  color: #444444;
  line-height: 28px;
}
@media (max-width: 480px) and (min-width: 320px) {
  p {
    margin-bottom: 25px;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  p {
    position: relative;
    left: 390px;
    width: 50%;
    margin-top: 0;
    margin-bottom: 30px;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  p {
    left: 820px;
    width: 30%;
    top: -280px;
    margin-bottom: 30px;
    position: relative;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  .button {
    margin-left: 15px;
    margin-bottom: 100px;
    display: flex;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .button {
    margin-left: 400px;
    display: flex;
    margin-bottom: 400px;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .button {
    margin-left: 400px;
    display: flex;
    margin-bottom: 400px;
    position: relative;
    left: 430px;
    top: -250px;
  }
}
.button button {
  background: black;
  width: 200px;
  height: 70px;
}
.button a {
  background: black;
  color: white;
  text-decoration: none;
  font-family: "Big Shoulders", sans-serif;
  font-size: 30px;
  font-weight: 400;
}
.button .arrow {
  background-color: #D5966C;
  width: 60px;
  align-content: center;
  justify-content: center;
}
.button .arrow img {
  width: 20%;
  margin-left: 25px;
  transition: all 0.8s ease;
}

.arrow:hover {
  background-color: #D5966C;
  width: 60px;
  align-content: center;
  justify-content: center;
}
.arrow:hover img {
  width: 25%;
  margin-left: 15px;
}

@media (max-width: 480px) and (min-width: 320px) {
  .container_second {
    justify-items: center;
    display: flex;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .container_second {
    justify-items: center;
    display: flex;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .container_second {
    display: flex;
    margin: 50px;
    margin-bottom: 0;
  }
}
.container_second-image h2 {
  color: black;
  font-size: 60px;
  text-align: left;
  line-height: 60px;
  font-weight: 800;
  margin-bottom: 30px;
}
@media (max-width: 480px) and (min-width: 320px) {
  .container_second-image h2 {
    margin-left: 15px;
    position: relative;
    width: 50%;
  }
  .container_second-image h2 .your_day::after {
    content: "\a";
    white-space: pre;
  }
  .container_second-image h2 .no-break {
    white-space: nowrap;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .container_second-image h2 {
    margin-left: 30px;
    position: relative;
    font-size: 50px;
    width: 30%;
    line-height: 45px;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .container_second-image h2 {
    margin-left: 80px;
    margin-bottom: 0;
    position: relative;
    font-size: 50px;
    width: 25%;
    line-height: 45px;
    top: -400px;
  }
}
.container_second-image h2 span {
  font-family: "Big Shoulders", sans-serif;
}
@media (max-width: 480px) and (min-width: 320px) {
  .container_second-image img {
    width: 430px;
    margin-bottom: 15px;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .container_second-image .img_1 {
    max-width: 50%;
    margin-bottom: 15px;
    padding-right: 15px;
    position: absolute;
    left: 400px;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .container_second-image .img_1 {
    left: 600px;
    height: 300px;
    width: 555px;
    position: relative;
    top: -150px;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .container_second-image .img_2 {
    flex-wrap: wrap;
    max-width: 480px;
    height: 725px;
    position: relative;
    left: 0;
    top: 90px;
    padding-left: 20px;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .container_second-image .img_2 {
    width: 750px;
    height: 600px;
    position: relative;
    top: -300px;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .container_second-image .img_3_b {
    position: relative;
    width: 300px;
    top: -300px;
  }
}
@media (max-width: 480px) and (min-width: 320px) {
  .container_second-image .img_3_b {
    display: none;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .container_second-image .img_3_b {
    display: none;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .container_second-image .img_3 {
    display: none;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .container_second-image .img_3 {
    position: relative;
    width: 400px;
    height: 310px;
    top: -590px;
    left: 5px;
  }
}
.container_second-image p {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  color: #444444;
  line-height: 28px;
  margin-bottom: 25px;
}
@media (max-width: 480px) and (min-width: 320px) {
  .container_second-image p {
    position: relative;
    width: 100%;
    margin-left: 15px;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .container_second-image p {
    width: 30%;
    left: 20px;
    position: relative;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .container_second-image p {
    width: 25%;
    top: -400px;
    position: relative;
    left: 70px;
  }
}
.container_second .be_inspired {
  background-color: black;
  padding: 20px;
}
@media (max-width: 480px) and (min-width: 320px) {
  .container_second .be_inspired {
    margin-bottom: 50px;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .container_second .be_inspired {
    width: 300px;
    height: 380px;
    position: relative;
    left: 485px;
    top: -295px;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .container_second .be_inspired {
    width: 400px;
    height: 280px;
    position: relative;
    top: -585px;
    left: 760px;
  }
}
.container_second .be_inspired h3 {
  padding-top: 30px;
  font-family: "Big Shoulders", sans-serif;
  color: white;
  text-align: left;
  padding-left: 15px;
  margin-right: 15px;
  line-height: 60px;
  font-weight: 800;
  margin-bottom: 30px;
  width: 80%;
}
@media (max-width: 480px) and (min-width: 320px) {
  .container_second .be_inspired h3 {
    font-size: 60px;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .container_second .be_inspired h3 {
    font-size: 40px;
    line-height: 40px;
    padding-left: 30px;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .container_second .be_inspired h3 {
    font-size: 40px;
    line-height: 40px;
    padding-left: 40px;
  }
}
.container_second .be_inspired p {
  color: white;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 40px;
}
@media (max-width: 480px) and (min-width: 320px) {
  .container_second .be_inspired p {
    width: 90%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .container_second .be_inspired p {
    position: relative;
    width: 85%;
    padding: 0;
    left: 30px;
    font-size: 15px;
    line-height: 30px;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .container_second .be_inspired p {
    font-size: 15px;
    position: relative;
    padding: 0;
    left: 25px;
    top: 10px;
    width: 100%;
    line-height: 20px;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  .map_main .map_mobile {
    max-width: 480px;
    z-index: -1;
  }
  .map_main .map_tablet {
    display: none;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .map_main .map_mobile {
    display: none;
  }
  .map_main .map_tablet {
    max-width: 1024px;
    z-index: -1;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .map_main .map_mobile {
    display: none;
  }
  .map_main .map_tablet {
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.map_main .button_container_map {
  background-color: black;
  position: absolute;
  height: 60px;
  top: 0;
  display: flex;
  align-items: center;
  left: 40px;
}
.map_main .button_container_map a {
  text-decoration: none;
  color: white;
  font-family: "Outfit", sans-serif;
  padding-left: 20px;
  padding-right: 20px;
}
.map_main .button_container_map a:hover {
  text-decoration: none;
  color: #D5966C;
  font-family: "Outfit", sans-serif;
  padding-left: 20px;
  padding-right: 20px;
}
.map_main .button_container_map .arrow_map {
  position: relative;
  background: #D5966C;
  height: 60px;
  width: 45px;
  align-content: center;
  left: -200px;
}
.map_main .button_container_map .arrow_map img {
  position: relative;
  transform: rotate(180deg);
  transition: all 1s ease;
}
.map_main .button_container_map .arrow_map img:hover {
  width: 40%;
  cursor: pointer;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .map_main .button_container_map {
    left: 150px;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .map_main .button_container_map {
    left: 150px;
  }
}
.map_main .our-location_container {
  background-color: black;
  z-index: 0;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .map_main .our-location_container {
    display: flex;
    justify-content: left;
    width: 100%;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .map_main .our-location_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
}
@media (max-width: 480px) and (min-width: 320px) {
  .map_main .our-location_container {
    justify-items: flex-start;
  }
}
.map_main .our-location_container h1 {
  color: white;
  font-family: "Big Shoulders", sans-serif;
  font-weight: 500;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .map_main .our-location_container h1 {
    padding-left: 60px;
    margin-top: 90px;
    width: 0;
    line-height: 60px;
    font-size: 60px;
  }
}
@media (max-width: 480px) and (min-width: 320px) {
  .map_main .our-location_container h1 {
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
    font-size: 50px;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .map_main .our-location_container h1 {
    padding-left: 60px;
    margin-top: 70px;
    line-height: 60px;
    font-size: 60px;
    width: 50%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .map_main .our-location_container .our-location_address {
    display: flex;
    flex-direction: column;
    justify-items: left;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-right: 70px;
  }
  .map_main .our-location_container .our-location_address p.street {
    color: #D5966C;
    font-size: 40px;
  }
  .map_main .our-location_container .our-location_address p.city {
    color: white;
  }
  .map_main .our-location_container .our-location_address p.details {
    color: white;
  }
}
@media (max-width: 480px) and (min-width: 320px) {
  .map_main .our-location_container .our-location_address {
    display: flex;
    flex-direction: column;
  }
  .map_main .our-location_container .our-location_address .street {
    font-size: 30px;
    padding-left: 30px;
  }
  .map_main .our-location_container .our-location_address .city {
    padding-left: 30px;
    color: white;
    font-weight: 200;
  }
  .map_main .our-location_container .our-location_address .details {
    padding-left: 30px;
    color: white;
    font-weight: 200;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .map_main .our-location_container .our-location_address {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 50px;
    padding-right: 80px;
    padding-bottom: 50px;
  }
  .map_main .our-location_container .our-location_address p.street {
    color: #D5966C;
    width: 100%;
    font-size: 40px;
    left: 0;
    top: 0;
  }
  .map_main .our-location_container .our-location_address p.city {
    width: 100%;
    color: white;
    left: 0;
    top: 0;
  }
  .map_main .our-location_container .our-location_address p.details {
    width: 80%;
    left: 0;
    top: 0;
    color: white;
    font-size: 15px;
  }
}
.map_main .modern-art_container {
  background-color: #D5966C;
}
@media (max-width: 480px) and (min-width: 320px) {
  .map_main .modern-art_container {
    position: absolute;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .map_main .modern-art_container {
    display: flex;
    max-width: 1024px;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .map_main .modern-art_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1440px;
  }
}
@media (max-width: 480px) and (min-width: 320px) {
  .map_main .modern-art_container .logo_map {
    position: relative;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .map_main .modern-art_container .logo_map {
    width: 200px;
    padding-left: 50px;
    padding-top: 40px;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .map_main .modern-art_container .logo_map {
    padding-left: 50px;
    padding-top: 50px;
  }
}
@media (max-width: 480px) and (min-width: 320px) {
  .map_main .modern-art_container .map-text {
    margin-left: 25px;
    width: 80%;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .map_main .modern-art_container .map-text {
    justify-items: center;
    padding-top: 50px;
    width: 100%;
  }
  .map_main .modern-art_container .map-text p {
    width: 70%;
    left: 0;
    top: 0;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .map_main .modern-art_container .map-text {
    position: relative;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100%;
    left: -300px;
    margin-right: 50px;
  }
  .map_main .modern-art_container .map-text p {
    width: 60%;
  }
}
@media (max-width: 480px) and (min-width: 320px) {
  .map_main .modern-art_container .map_rrss {
    display: flex;
    gap: 10px;
    margin-left: 40px;
    margin-bottom: 30px;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .map_main .modern-art_container .map_rrss {
    width: 50%;
    display: flex;
    padding-left: 120px;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    padding-top: 50px;
  }
  .map_main .modern-art_container .map_rrss img {
    width: 20px;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .map_main .modern-art_container .map_rrss {
    display: flex;
    padding-left: 10px;
    padding-right: 20px;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    padding-top: 20px;
  }
  .map_main .modern-art_container .map_rrss img {
    width: 20px;
  }
}

html * {
  font-family: "Outfit", sans-serif;
}

body {
  overflow-x: hidden;
}

body {
  background-color: white;
}/*# sourceMappingURL=app.css.map */